project_id = "isldyxettztrznjoqjtx"

[auth]
site_url = "https://localhost:5173"
additional_redirect_urls = ["https://localhost:5173"]
jwt_expiry = 3600
enable_signup = true
enable_anonymous_sign_ins = false

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = false
max_frequency = "1h"

[functions.ai-narrator]
verify_jwt = false
